<% if comment.present? %>
  <div class="comment">
    <strong><%= comment.user.username %>:</strong> <%= comment.content %>
    
    <% if comment.replies.any? %>
      <div class="replies">
        <%= render partial: 'comments/comments', collection: comment.replies, as: :comment %>
      </div>
    <% end %>

    <!-- Only show the form for replying to this comment -->
    <div class="reply-form">
      <%= render 'comments/comment_form', post: comment.commentable, comment: Comment.new(parent_id: comment.id) %>
    </div>
  </div>
<% end %>
